.bulleted-list {
	padding: 20px 0 60px;

	h4 {
		margin: 0;
	}
	p {
		color: $color-1;
		font-weight: 600;
	}
	li{
		p{
		//margin:0;
		}
	}
	&__wrapper {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		//justify-content: center;
		margin-bottom: -30px; // counter bottom margin on __single
	}

	&__single {
		margin-bottom: 30px;
	}
	.bulleted-list{
		&--icon{
			list-style: none;
			padding-left: 1.5em;
			&:before {
				content: '';
			}
			svg {
				position: absolute;
				left: 8px;
				top: 3px;
				width: 16px;
				height: 16px;
			}
		}
	}
	&.blue-bullet{
		svg{
			fill: $color-1;
		}
		.bulleted-list--no-icon{
			padding-left: 1.5em;
			&:before {
				content: '●';
				position: absolute;
				top: 0;
				left: 8px;
				font-size: 30px;
				line-height: 0.65;
				color: $color-1;
			}
		}
	}
	&.orange-bullet{
		svg{
			fill: $color-2;
		}
		.bulleted-list--no-icon{
			padding-left: 1.5em;
			&:before {
			    content: "•";
				position: absolute;
				color: $color-2;
				left: 16px;
				top: -3px;
			}
		}
	}
	&.column-count-two{
		.bulleted-list__wrapper{
			margin: 0 6%;
			@include bp (900px) {
				margin: 0;
			}
		}
		.bulleted-list__single{
			width: 50%;
			padding: 0 40px;
			@include bp($planetary){
				width: 100%;
			}
			p {
				color: $black;
				font-weight: normal;
				padding-left: 10px;
			}
			.bulleted-list__title {
				font-size: 18px;
				color: $color-1;
				font-family: $fam-heading;

				@include bp($planetary){
					font-size: 16px;
				}
			}
		}
    .bulleted-list__single--larger h4.bulleted-list__title {
      font-size: 120%;
    }
	}
	&.column-count-three {
		.bulleted-list__wrapper {
			margin-left: 8%;

			@include bp(900px) {
				margin-left: 0;
			}
		}
		.bulleted-list__single {
			width: 33.33%;
			padding: 0 40px;
			margin-bottom: 10px;

			@include bp(900px) {
				width: 50%;
			}
			@include bp($planetary){
				width: 100%;
			}
		}
	}
	&.column-count-four {
		.bulleted-list__single {
			width: 25%;
			padding: 0 40px;
			margin-bottom: 10px;
			@include bp($solarsystem){
				width: 50%;
			}
			@include bp($planetary){
				width: 100%;
			}
		}
	}
	&--bg-light {
		background-color: $color-4;
	}
}
.bulleted-list__single--larger h4.bulleted-list__title {
  font-size: 120%;
}
