.form {
	position: relative;
	overflow: hidden;

	&[style*="background"]{
		color: $white;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-color: rgba(0, 0, 0, .6);
		}
		input[type="submit"] {
			@extend %button--light;
		}
	}

	&__inner {
		position: relative;
		z-index: 10;
	}
	&__text {
		padding: 15px 0;
		.form.width-small & {
			margin: 0 auto;
			max-width: 600px;
		}
	}

	h3 {
		font-size: 20px;
		font-family: $fam-heading;
		text-transform: uppercase;
		font-weight: normal;
		color: $color-1;
		text-align: center;
		position: relative;
		margin: 0;
		padding: 20px 0;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100px;
			margin-left: -50px;
			height: 2px;
			background-color: $color-2;
		}
	}

	.wpcf7 {

		.wpcf7-form-control-wrap {
			width: 100%;
		}

		input,
		textarea,
		select {
			padding: 8px 12px;
			font-family: $fam-body;
			font-size: 16px;
			color: $color-1;
			background-color: #F7F9F8;

			&::placeholder {
				color: darken($color-3, 20%);
				opacity: 1;
			}


		}

		select {
			height: 34px;
			-webkit-appearance: none;
  			-webkit-border-radius: 0px;
  			padding: 0 12px;
		}

		input[type="submit"] {
			@extend %button;
			display: inline-block;
			width: auto;
		}
	}

	&.column-count-one,
	&.width-large {
		margin: 0 auto;
		padding: 20px;

		.form__inner {
			max-width: 870px;
		}

		.wpcf7 {
			.first-name,
			.last-name,
			.phone,
			.email,
			.city,
			.zip,
			.sq-feet,
			.payment,
			.exp-date {
				display: block;
				float: left;
				width: calc(33.33% - 50px / 3);
				margin-right: 25px;

				@include bp(900px) {
					margin-right: 25px;
					width: calc(50% - 25px / 2);
				}

				@include bp(500px) {
					width: 100%;
				}
			}
			// last in row at desktop
			.phone,
			.exp-date,
			.zip {
				@include bp($min: 901px){
					margin-right: 0;
				}
			}
			// last in row at mobile
			.last-name,
			.email,
			.zip,
			.exp-date {
				@include bp(900px){
					margin-right: 0;
				}
			}

			.practice,
			.interest {
				width: calc(50% - 25px / 2);

				@include bp(500px) {
					width: 100%;
				}

				select {
					width: 100%;
				}
			}
			.practice {
				margin-right: 25px;
			}

			.address,
			.comments {
				width: 100%;
			}
		}
		.wpcf7-form-control-wrap {
			display: block;
			float: left;
			width: 100%;
			margin-bottom: 25px;
		}
		input[type="submit"] {
			display: block;
			float: left;
			margin: 0;
		}
	}

	&.width-small {
		.form__one-column,
		.form__inner {
			max-width: 600px;
			margin: 0 auto;
		}

		.wpcf7 {
			.first-name,
			.last-name,
      .email,
      .phone {
				display: block;
				float: left;
				width: calc(50% - 25px / 2);
				padding: 0;

				@include bp(500px) {
					width: 100%;
				}
			}
			.last-name {
				margin-right: 0;
			}
			.first-name {
				margin-right: 25px;
			}

			.message {
				width: 100%;
			}
		}
		input[type="submit"] {
			float: none;
		}
	}

	&.column-count-two {
		padding-top: 20px;

		.form__two-column {
			display: flex;
			align-items: flex-end;

			@include bp(900px) {
				flex-wrap: wrap;
			}
		}

		.form__left-column {
			width: 50%;
			padding: 0 40px 20px 0;

			iframe {
				width: 100%;
				max-width: 100%;
			}

			@include bp(900px) {
				width: 100%;
				padding: 0;
			}
		}

		.form__right-column {
			width: 50%;
			background-color: $color-1;
			padding: 20px;


			@include bp(900px) {
				margin-top: 15px;
				width: 100%;
			}
		}

		.form__icon-wrap {
			position: relative;
			display: block;
			svg {
				position: absolute;
				z-index: 10;
				width: 18px;
				height: 18px;
				fill: $color-1;
				left: 7px;
			    top: 8px;
			}
		}

		.wpcf7 {
			.first-name,
			.last-name,
			.email,
			.phone {
				width: 100%;
				position: relative;

				input {
					padding-left: 30px;
				}

			}
			.wpcf7-form-control-wrap {
				display: block;
				padding-bottom: 25px;
			}
			input[type="submit"]{
				@extend %button--light;
			}
			input:not([type="submit"]) {
				width: 100%;
			}
			p {
				width: 100%;
			}
		}
	}
}
