.resources {
	background-color: $color-4;
	padding: 60px 0 40px;

	@include bp (900px) {
		padding: 40px 0;
	}

	h3 {
		font-size: 20px;
		font-family: $fam-heading;
		text-transform: uppercase;
		font-weight: normal;
		color: $color-1;
		text-align: center;
		position: relative;
		margin: 0 0 30px;
		padding-bottom: 20px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100px;
			margin-left: -50px;
			height: 2px;
			background-color: $color-2;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
	}

	&__image {
		width: 20%;
		padding-right: 20px;
		img {
			display: block;
			max-width: 287%; // magic number AF
			transform: translateX(-2em);
		}

		@include bp(600px) {
			display: none;
		}
	}

	&__all {
		padding-left: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		z-index: 3;
    width: 100%;

		@include bp(600px) {
			width: 100%;
			padding: 0;
		}
	}

	&__single {
		flex: 0 0 29%;
		border: 1px solid $black;
		margin: 1.65em;
		transition: all 400ms ease;

		@include bp(1140px) {
			flex-basis: 45%;
		}

		@include bp(600px) {
			flex-basis: 99%;
			transform: scale(1) !important;
		}

		&.active,
		&:hover {
			transform: scale(1.15);
			z-index: 1;
			box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);

			.resources__overlay {
				background-color: rgba(0,0,0,0.7);

				&:after {
					opacity: 1;
					transform: translateX(0);
					transition: 200ms 200ms all;
				}

				h4 {
					backface-visibility: hidden; // stop blink from occurring on hover of siblings
					color: $white;
					transform: scale(.85) translateY(-1.5em);
					@include bp(600px) {
						transform: scale(1);
					}
				}
			}
		}
	}

	&__overlay {
		background-color: $white;
		transition: all 400ms ease;
		width: 100%;
		height: 100%;
		padding: 15px 18px 10px;

		position: relative;

		h4 {
			padding: 40px 0 20px 0;
			margin-bottom: 10px;
			color: $color-1;
			font-family: $fam-body;
			font-size: 2.5em;
			transition: all 400ms ease;
			position: relative;

			@include bp(900px) {
				padding-top: 30px;
			}

			@include bp(600px) {
				padding-top: 5px;
				margin-bottom: 40px
			}

			&:after {
				content: '';
				border-bottom: 2px solid $color-2;
				width: 60px;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		&:after {
			content: '→';
			color: $color-2;
			font-size: 25px;
			position: absolute;
			transform: all 400ms ease;
			bottom: 10px;
			left: 32px;
			opacity: 0;
			transform: translateX(-100%);
		}
	}

	&__cta{
		text-align: center;
		margin-top: 20px;

		&-higher {
			transform: translateY(-100px);

			@include bp(1140px) {
				transform: translateY(0);
			}

			@include bp(600px) {
				transform: translateY(0);
			}
		}
	}
}
